
/objfundamentals_demo/nbproject/private/
/objfundamentals_demo/build/Debug/
/Kennlinien-Ablage/nbproject/private/
/Kennlinien-Ablage/dist/Debug/
/Kennlinien-Ablage/build/Debug/
/ComputerVerwaltung/nbproject/private/
/LinkedList/nbproject/private/
/LinkedList/build/Debug/